/* it sets the sidebar size and position */
.sidebar-toggle {
  position: fixed;
  top: 25px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

/* it sets the sidebar buttons action and positions */
#sidebar button {
  display: none;
  position: fixed;
  right: 20px;
  z-index: 1001;
  font-size: 24px;
  width: 280px;
  text-align: left;
  padding: 10px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

  #sidebar button:hover {
    background-color: #e0e0e0;
  }

/* buttons details */
  #firstButton {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #secondButton, #thirdButton, #fourthButton {
    border-radius: 0px;
  }

  #fifthButton {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* Buttons positions */
  #firstButton { top: 60px; }
  #secondButton { top: 120px; }
  #thirdButton { top: 180px; }
  #fourthButton { top: 240px; }
  #fifthButton { top: 300px; }

  button .emoji {
    font-size: 1.5em;
    margin-right: 10px;
  }

  button .button-text {
    flex: 1;
  }
